@use "../node_modules/gaudiamus-css/scss/components/operations" as ops;


/* Grid */
$grid-container-prefix: 'grid';
$columns: 12;
$items: 6;
$breakpoint-map: ("md":768px, "lg":1024px);
$placement-key: "place";
$placement-map: ("x":"justify-self", "y":"align-self");
$placement-properties: ("start":"start", "end":"end", "center":"center", "stretch":"stretch");


/* Spacing & utility generator */
$baseSpacing: 20px;
$spacingUnit: 'rem';
$spacingStep: .25;
$numSpacingUnits: 5;

$shorthand-map: ("t":"top", "b":"bottom", "r":"right", "l":"left", "x":(1:"left", 2:"right"), "y":(1:"top", 2:"bottom"));
$property-map: ("m":"margin", "p":"padding");
$position-key: "position";
$position-map: ("relative", "absolute", "fixed");

$height-width-unit-map: ("p":"%", "px":"px", "vh":"vh");
$height-width-value-map: ("25", "50", "75", "80", "90", "100", "200", "300");


/* Colors */
$primaryColor: #083076;
$accentColor: #7EC8E3;
$teal: #2B7C85;
$successColor: #1f921f;
$warningColor: #c92d2d;
$gray: rgba(0, 0, 0, .2);
$white: #e8e5e5;
$black: #101010;

$color-class-map: ("bg":"background-color", "text":"color", "b":"border-color");

$color-map: (
        "primary":$primaryColor,
        "accent":$accentColor,
        "success":$successColor,
        "warning":$warningColor,
        "transparent":transparent,
        "gray": $gray,
        "white": $white,
        "black": $black,
        "teal":$teal
);


/*
*  lighten/darken
*/

$lighten-map: (
        "light": 25%,
        "lighter": 50%,
);

$darken-map: (
        "dark": 25%,
        "darker": 50%,
);

/*
* Opacity
*/
$opacity-map: ("25":.25, "50":.5, "75":.75, "85":.85, "90":.9, "95":.95);

/*
* State
*/

$state-map: ("focus", "hover", "active");


/* Shading & borders */

$depth: 3;
$spread: 4px;

$border-key: "b";
$rounded-key: "rounded";
$raise-key: "raise";

$cursor-key: "cursor";
$cursor-map: ("pointer":"pointer");

.b-round{
  border-radius: 50%;
}

/* Typography */

$fontSize-map: (
        "sm":3,
        "default":4,
        "md":5,
        "lg":7,
        "xl":9,
        "xxl":12
);
$decoration-map: ("underline", "none");
$weight-map: ("light":200, "strong":700);
.text-center{
  text-align: center;
}
.text-decoration-both{
  text-decoration: underline overline;
}
@include ops.generate-states('text-decoration-both', $state-map);
/*
* Display
*/

$display-key: "d";
$display-map: ("hidden":"none", "flex":"flex", "block":"block","inline":"inline");
$flex-key: "f";
$flex-map: ("1":"1");

/*
* Divider
*/
hr{
  @extend .b-1, .b-transparent, .raise-1-accent-light;
}

/*
* GLASS
*/
$blur-ratio: 10px;
//$checkbox-icon: url(../assets/done_outline_black_24dp.svg)
