<div class="container grid h-50vh">
    <div class="card place-y-center ">
        <div class="p-5">
            <h1>Welcome to your new project</h1>
            <p>
                This starter template enables you to directly jump into development:
            </p>
        </div>
        <div class="bg-black-50">
            <div class="grid-6-6 p-5 md:w-50p m-x-auto">
                <a class="button-teal " play-on-hover href="/setup">Getting started</a>
                <a class="button-teal " play-on-hover href="https://lenkrad.neoan3.rocks/docs" target="_blank" rel="noreferrer noopener">Docs</a>
            </div>
        </div>

    </div>
</div>
