<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined"
          rel="stylesheet">
    <title>404</title>
</head>
<body>
<div class="container grid h-90vh">
    <div class="card place-y-center place-x-center w-80p md:w-50p">
        <div class="p-5">
            <h1>404</h1>
            <p>
                Nothing here...
            </p>
        </div>
        <div class="grid bg-black-50 p-5">
            <a class="icon-button-teal place-x-center" href="/">
                <span class="material-icons-outlined" style="margin-top: calc(50% - 13px)">home</span>
            </a>


        </div>
    </div>
</div>
</body>
</html>